[user]
	name = John Kegelman
	email = johnk@peloton-tech.com
[core]
	editor = vim
	trustctime = false
	filemode = false
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[alias]
	bclean = "!f() { git branch --merged ${1-reviewed/master} | grep -v " ${1-reviewed/master}$" | xargs -r git branch -d; }; f"
	boom = reset --hard HEAD
	br = branch
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	caa = commit --all --amend --no-edit
	ci = commit
	cia = commit --amend --no-edit
	cf = clang-format
	cl = clone
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	df = diff
	dlc = diff --cached HEAD^
	f = "!git ls-files | grep -i"
	gr = grep -Ii
	la = "!git config -l | grep alias | cut -c 7-"
	lc = log -1 --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %cr%Cred%d\\ %Creset%s%Cblue\\ [%an]"
	lds = log --pretty=format:"%C(yellow)%h\\ %cd%Cred%d\\ %Creset%s%Cblue\\ [%an]" --date=short
	lg = log --graph --pretty=format:"%C(yellow)%h\\ %Creset-%Cred%d%\\ Creset%s\\ %C(yellow)%cr%Cblue\\ [%an]" --all
	ll = log --pretty=format:"%C(yellow)%h\\ %cd%Cred%d\\ %Creset%s%Cblue\\ [%an]" --date=short --numstat
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]"
	p2r = push origin HEAD:refs/for/reviewed/master
	p2u = "!git push -u origin HEAD:refs/heads/unreviewed/$(whoami)/$(git branch-name)"
	p2un = "!f() { : git push -u origin HEAD:refs/heads/unreviewed/$(whoami)/$1; }; f"
	sl = stash list
	st = status -sb
	unstage = reset HEAD --
	dl = "!git ll -1"
