[user]
	name = John Kegelman
	email = johnk@peloton-tech.com
[core]
	editor = vim
	trustctime = false
	filemode = false
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[alias]
	last = log -1 --stat
	cp = cherry-pick
	boom = reset --hard HEAD
	co = checkout
	cl = clone
	ci = commit
	st = status -sb
	br = branch
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	p2g = push origin HEAD:refs/for/reviewed/master
