[user]
	name = John Kegelman
	email = kegelman@stanford.edu
[core]
	editor = vim
	trustctime = false
	filemode = false
	excludesfile = /cygdrive/c/Users/Kegelman/.gitignore_global
[push]
	default = simple
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[alias]
	last = log -1 --stat
	cp = cherry-pick
	boom = reset --hard HEAD
	co = checkout
	cl = clone
	ci = commit
	st = status -sb
	br = branch
	unstage = reset HEAD --
	diff = diff --word-diff=color
	df = diff
	dc = diff --cached
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	lg = log --graph --pretty=format:"%Cred%h%Creset\\ -%C(yellow)%d%Creset\\ %s\\ %Cgreen(%cr)\\ %Cblue<%an>%Creset" --abbrev-commit --date=relative --all
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	caa = commit --all --amend --no-edit
	cia = commit --amend --no-edit
	f = "!git ls-files | grep -i"
	gr = grep -Ii
